.scnd_product_details {
    margin: 10px 4px 0 0;
}

.scnd_card_container {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.scnd_product_card {
    width: 100%;
    max-width: calc(25% - 14px);
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    overflow: hidden; 
    padding: 10px; 
    transition: transform 0.3s ease;
}

.scnd_product_card img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.scnd_details h4 {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 400;
}

.scnd_price p {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.scnd_details p {
    font-size: 14px;
    color: #707072;
    font-weight: 400;
    margin-bottom: 0;
}
.scnd_product_card:hover {
    transform: scale(1.02); /* Scale the card by 5% on hover */
}

@media (max-width:960px) {
    .scnd_product_card {
        max-width: calc(50% - 7px);
        width: 50%;
        display: inline-block;
    }
    
}

@media (max-width:477px) {
    .scnd_product_details{
        flex-direction: column;
    }
    .scnd_price p{
        margin-bottom: 0;
    }
}