.footer {
    background-color: #FF6517;
    padding: 20px 20px 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-section {
    margin-bottom: 10px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px;
}


.copyright-text {
    font-size: 14px;
    color: #fff;
}

.copyright-text>span {
    font-weight: 700;
}

@media (max-width:767px) {
    .footer {
        flex-direction: column;
    }

    .footer-container {
        justify-content: center;
    }
    .footer-section:nth-child(3),
    .footer-section:nth-child(4),
    .footer-section:nth-child(5){
        display: none;
    }

}