@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
scroll-behavior: smooth;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;

}

html,body{
   overflow-x: hidden;
}

ul{
   list-style: none;
}
section{
   padding: 40px 0px;
}
a{
   text-decoration: none;
}
